<p id="notice"><%= notice %></p>

<div class="container">
    <h1>Wines</h1>
    <div id="products" class="row list-group">
        <% @wines.each do |wine| %>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= wine.name %></h4>
                    <p class="group inner list-group-item-text">
                        <%= wine.short_description %></p>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                £<%= wine.price %> - <%= wine.size %>cl</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                            <%= link_to 'Show', wine %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <div class="text-center">
        <%= paginate @wines %>
    </div>
</div>

<br>
