<!DOCTYPE html>
<html>
<head>
  <title>WineApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>Alcoholfreewine</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Alcoholfreewine</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/wines">Wines</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

<div class="col-lg-6">
  <%= form_tag(wines_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="form-horizontal">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Wines" %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    </div>
  <% end %>
</div>

    </div><!--/.nav-collapse -->
  </div>
</div>


<%= yield %>

<footer class="footer-basic-centered">
    <p class="footer-company-motto">"Wine That Doesn't Taste Very Good And Doesn't Get You Drunk"</p>
    <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Contact</a>
    </p>
    <p class="footer-company-name">Alcoholfreewine &copy; 2015</p>
</footer>

</body>
</html>
